.checkoutcard__card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  border: 1px solid $box-shadow;
  max-width: fit-content;
  padding: 1em;
  margin: 2em;
  border-radius: 15px;

  &:hover {
    box-shadow: 0 2px 4px 0 $box-shadow;
  }
}

.checkoutcard__card-origin-destination {
  display: flex;
  justify-content: space-between;
}

.checkoutcard__card-details-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
}

.checkoutcard__card-details-wrapper > span {
  color: $shadow;
  font-weight: bold;
  text-decoration: underline;
}

.checkoutcard__card-summary {
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
  margin-top: 1em;
}

.checkoutcard__selected-card {
  background-color: $primary;
}

.btn {
  background-color: transparent;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 7px 10px 7px 10px;

  transition: color 0.3s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    color: darken($color: white, $amount: 20);
  }
}

.btn-danger {
  background-color: red;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($color: red, $amount: 10);
  }
}
