.checkoutcard__card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  border: 1px solid $box-shadow;
  max-width: fit-content;
  padding: 1em;
  margin: 2em;
  border-radius: 15px;

  &:hover {
    box-shadow: 0 2px 4px 0 $box-shadow;
  }
}

.checkoutcard__card-origin-destination {
  display: flex;
  justify-content: space-between;
}

.checkoutcard__card-details-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
}

.checkoutcard__card-details-wrapper > span {
  color: $shadow;
  font-weight: bold;
  text-decoration: underline;
}

.checkoutcard__card-summary {
  display: flex;
  justify-content: flex-end;
  font-weight: bolder;
  margin-top: 1em;
}

.checkoutcard__selected-card {
  background-color: $primary;
}
