.screen-wrapper{
    padding: 2em;
}

.checkflightscreen__flights-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.checkflightscreen__confirm-button{
    margin: auto;
    max-width: 14em;
}
