.destionationcard__card{
    box-shadow: 0 4px 8px 0 $shadow;
    transition: 0.3s;
    width: 20%;
    height: 400px;
    margin: 20px;
    border-radius: 5px;

    &:hover{
        box-shadow: 0 8px 16px 0 $box-shadow;
    }
}

.destionationcard__img{
    border-radius: 5px 5px 0 0;
    width: 100%;
    margin: auto;
}

.destionationcard__container{
    display: flex;
    flex-direction: column;
    padding: 2px 12px;
}
