.mainscreen__navbar{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    min-height: 9vh;
    justify-content: space-between;
    width: 100vw;
    background-color: $secondary;

    @media (max-width: $breakpoint-medium) {
        display: grid;
        grid-template-columns: repeat( 1, 1fr );
        text-align: center;
    }
}

.mainscreen__home-logo{
    box-sizing: border-box;
    color: $primary;
    font-size: 2.3em;
    padding-left: 1.7em;
    text-shadow: 2px 2px 3px $shadow;

    &:hover{
        text-shadow: 1px 1px 3px $hover;
    }

    @media (max-width: $breakpoint-medium) {
        margin: auto;
        padding-top: 0.5em;
        padding-left: 0.2em;
    }

    @media (max-width: $breakpoint-small) {
        font-size: 1.7em;
        margin: auto;
        padding-top: 0.5em;
        padding-left: 0.2em;
    }
}

.mainscreen__mis-reservas{
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #023e8a;
    display: flex;
    flex-direction: row;
    font-size: 1.6em;
    font-weight: bold;
    justify-content: center;
    padding-left: 0.3em;
    padding-right: 2.3em;
    width: auto;

    &:hover{
        text-shadow: 1px 1px 3px lightgray;
        color: $shadow;
    }
}

.hide-element_medium-breakpoint{
    @media (max-width: $breakpoint-medium) {
        display: none;
    }
}

.mainscreen__cart-logo{
    padding: 0.3em;
    text-align: center;

    @media (max-width: $breakpoint-medium) {
        position: fixed;
        top: 0.25em;
        right: 0.4em;
        font-size: 1.7em;
    }

    @media (max-width: $breakpoint-small) {
        font-size: 1.3em;
        margin: auto;
        padding-top: 0.5em;
        padding-left: 0.2em;
    }
}

.mainscreen__searchflight{
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
    height: 10%;

    @media (max-width: $breakpoint-medium) {
        grid-template-columns: repeat( 1, 1fr );
    }
}

.mainscreen__flight-menu{
    align-items: center;
    background-color: #f8f9fa;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.mainscreen__places{
    align-items: center;
    border: 2px solid #6b705c;
    background-color: #e9ecef5b;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 70px;
    width: 40%;
}

.mainscreen__dates{
    box-sizing: border-box;
    border: 2px solid #6b705c;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 40%;
}

.mainscreen__people{
    align-items: center;
    border-color: $primary;
    border-radius: 10px;
    border: 2px solid #6b705c;
    display: flex;
    margin: 10px;
    padding: 20px;
    width: 35%;
}

.mainscreen__flight-button{
    align-items: center;
    background-color: $secondary;
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-weight: bolder;
    font-size: 1em;
    border-radius: 35px;
    width: 40%;
    padding: 20px;
}




