.travelslider__gallery {
  position: relative;
  display: inline-block;
  width: 100%;

  @media (max-width: $breakpoint-medium) {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: fit-content;
    width: 18em;
  }

  @media (max-width: $breakpoint-small) {
    margin: auto;
    width: 24em;
  }
}

.travelslider__img-slider {
  width: 100%;
  height: 600px;
  border-radius: 10px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.travelslider__buttons {
  position: absolute;
  top: 90%;
  margin: auto;
  right: 0;
  left: 0;
  color: white;
  font-size: 25px;
}

.travelslider__right-buttons {
  left: 40px;
}

.travelslider__left-buttons {
  right: 40px;
}
